  <!-- plugins:css -->
  <link rel="stylesheet" href="{% call path 'public/admin-a/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% call path 'public/admin-a/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% call path 'public/admin-a/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% call path 'public/admin-a/vendors/bootstrap-select/css/bootstrap-select.css' %}">
  
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% call path 'public/admin-a/css/style.css' 'True' %} ">
  <!-- endinject -->

    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    